/* FONTS */
@font-face {
    font-family: "NotoSans";
    src: url(../assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Lexend";
    src: url(../assets/fonts/Lexend_Deca\,Noto_Sans/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

.Home-Header {
    font-family: "NotoSans";
}

.Nav-Bar {
    font-family: "Lexend";
}

main {
    font-family: "Lexend";
}

/* TABLET DESIGN */
@media (min-width: 768px) {
    /* HEADER */
    .Home-Header {
        font-size: 4rem;
    }

    /* ABOUT ME */
    .Info {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    .Description {
        width: 60%;
        max-width: 600px;
    }

    .Info img {
        max-width: 300px;
        width: 40%;
    }

    /* SKILLS */
    .Skill-Card {
        width: 260px;
    }

    .Skill-Icons img {
        width: 50px;
        height: 50px;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    /* NAVIGATION */
    nav ul {
        gap: 4rem;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    /* ABOUT ME */
    .Info {
        gap: 5rem;
        padding: 4rem;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .Description {
        max-width: 650px;
        font-size: 1.2rem;
        justify-content: center;
    }

    .Info img {
        max-width: 500px;
    }

    .Home-Header {
        font-size: 4rem;
    }

    /* SKILLS */
    .Skill-Container {
        gap: 3rem;
    }

    .Skill-Card {
        width: 280px;
    }
}
