/* FONTS */
@font-face {
    font-family: "NotoSans";
    src: url(../assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Lexend";
    src: url(../assets/fonts/Lexend_Deca\,Noto_Sans/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

.Home-Header {
    font-family: "NotoSans";
}

.Nav-Bar {
    font-family: "Lexend";
    color: #dfe5ec;
}

main {
    font-family: "Lexend";
}

/* DESKTOP AND TABLET LAYOUTS */
@media only screen and (min-width: 992px) {
    .Info {
        grid-template-columns: 2fr 2fr;
        align-items: center;
        padding: 0%;
        margin-left: 5%;
        gap: 5%;
    }
}

/* COLOR PALETTE */
body {
    background-color: #11172a;
    color: #626c7d;
}

nav ul li a {
    color: #dfe5ec;    
}

h1 {
    color: #dfe5ec
}

h3 {
    color: #dfe5ec;
}

.Soft-Skills {
    color: #599692;
    background-color: transparent;
}
