/* NAVIGATION BAR */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: center;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.1rem;
}

/* CONTENT */
.Home-Header {
    padding: 0;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
}

.Info {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    padding: 0rem;
    margin-left: 5rem;
    gap: 0rem;
}

.Description {
    text-align: left;
    font-size: 1.5rem;
}

/* IMAGE */
.My-Photo {
    width: 30em;
    height: 30em;
}

/* NON-FUNCTIONAL BUTTONS */
.Soft-Skills {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    border-radius: 0.7rem;
    transition-duration: 0.4s;
}

.Soft-Skills:hover {
    background-color: aliceblue;
}
