/* NAVIGATION BAR */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    float: center;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
}

/* CONTENT */
.Info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2rem;
}

/* IMAGE */
.My-Photo {
    width: 20rem;
    height: 20rem;
}
